
{% extends 'base.html' %}
{% block main %}
<body>
<table>
    <tr>
        <td class="td">1</td>
        <td >2%</td>
        <td >-3</td>
        <td >3</td>
    </tr>
    <tr>
        <td >4</td>
        <td >-1</td>
        <td >6</td>
    </tr>
    <tr>
        <td >7</td>
        <td >8</td>
        <td >9</td>
    </tr>
    <tr>
        <td >7</td>
        <td >8</td>
        <td >9</td>
    </tr>
</table>




<script type="text/javascript">
//记得放到最后，因为必须等表格呈现之后才可以改变样式颜色
    table = document.getElementsByTagName('table'); //获取集合
    alert(table[0].rows.length);
    for (i = 0; i < table[0].rows.length; i++) {//遍历
        td = table[0].rows[i].cells[1];//取出td
        if (td.textContent <= 2) {//判断是否大于0
            td.style.backgroundColor = "red";//小于等于0变成红色
        } else {
            td.style.backgroundColor = "green";//否则变成绿色
        }
    }
</script>




{% endblock %}