{% extends 'base.html' %}
{% block main %}
    <style>
        table{border: 2px solid black;background-color: white;margin: 0 auto;width:980px;line-height: 30px;}
        .content_left{font-size: 14px;text-align: left;text-indent: 2em}
        .line_hight{background-color: #5b80b2;height: 10px;}
        .font_color{text-align: center;color: #0C0C0C;font-weight: bold;}
        .whites{font-size: 20px;text-align: center;color: white;font-weight: bold}
        .text_center{text-align: center}
        .border_none td{border: none}
    </style>

<div class="main">
    <table id="table" border='1'  cellpadding='0' cellspacing='0 ' style="table-layout:fixed;word-wrap:break-word;word-break:break-all;">
        <!--表头-->
        <tr class="tableHead border_none" >
            <td rowspan="2" colspan="3"  >
                <img src="../../static/images/gtqh.png" alt="" style="width: 100%;height: 100%">
            </td>
            <td rowspan="2" colspan="1" ></td>
            <td rowspan="1" colspan="4"  style="font-size: 30px ;font-weight: normal;" class="font_color">
                <span class="">尿素信息速览</span>
            </td>
        </tr>
        <tr class="font_color border_none" >
            <td colspan="2" ></td>
            <td colspan="2" >{{ today }}</td>
        </tr>
        <tr class="line_hight">
            <td colspan="8" class="whites" >市场观点</td>
        </tr>
        <tr class="content_left" style="text-indent:2em;">
            <td colspan="8">
                {% for i in content.content_list %}
                    <p><span class="layui-badge-dot"></span>{{ i }}</p>
                {% endfor %}
            </td>
        </tr>

        {#        市场追踪#}
        <tr class="line_hight">
            <td colspan="8" class="whites" >市场追踪</td>
        </tr>
        <tr class=" font_color">
            <td colspan="1">一级指标</td>
            <td colspan="1">二级指标</td>
            <td colspan="1">今日价格</td>
            <td colspan="1">昨日价格</td>
            <td colspan="1">涨跌</td>
            <td colspan="1">一级指标</td>
            <td colspan="1">二级指标</td>
            <td colspan="1">一级指标</td>
        </tr>
        {#合成氨价格1#}
        <tr class="text_center">
            <td rowspan="8">合成氨价格</td>
            <td>阳煤平原</td>
            <td>{{ items.hca_data_item.data1.jg }}</td>
            <td>{{ items.hca_data_item.data1.zr_jg }}</td>
            <td>{{ items.hca_data_item.data1.zd }}</td>
            <td rowspan="8">尿素价格</td>
            <td>河南心连心</td>
            <td>{{ items.ns_data_item.data1.jg }}</td>

        </tr>
        {#合成氨价格2#}
        <tr class="text_center">
            <td>安徽安庆石化</td>
            <td>{{ items.hca_data_item.data2.jg }}</td>
            <td>{{ items.hca_data_item.data2.zr_jg }}</td>
            <td>{{ items.hca_data_item.data2.zd }}</td>
            <td>河南延化</td>
            <td>{{ items.ns_data_item.data2.jg }}</td>

        </tr>
                {#合成氨价格3#}
        <tr class="text_center">
            <td>安徽昊源</td>
            <td>{{ items.hca_data_item.data3.jg }}</td>
            <td>{{ items.hca_data_item.data3.zr_jg }}</td>
            <td>{{ items.hca_data_item.data3.zd }}</td>
            <td>山东联盟</td>
            <td>{{ items.ns_data_item.data3.jg }}</td>

        </tr>
                {#合成氨价格4#}
        <tr class="text_center">
            <td>安徽淮化</td>
            <td>{{ items.hca_data_item.data4.jg }}</td>
            <td>{{ items.hca_data_item.data4.zr_jg }}</td>
            <td>{{ items.hca_data_item.data4.zd }}</td>
            <td>山东瑞星</td>
            <td>{{ items.ns_data_item.data4.jg }}</td>

        </tr>
                {#合成氨价格5#}
        <tr class="text_center">
            <td>安徽临泉</td>
            <td>{{ items.hca_data_item.data5.jg }}</td>
            <td>{{ items.hca_data_item.data5.zr_jg }}</td>
            <td>{{ items.hca_data_item.data5.zd }}</td>
            <td>山东明水</td>
            <td>{{ items.ns_data_item.data5.jg }}</td>

        </tr>
                {#合成氨价格6#}
        <tr class="text_center">
            <td>河南宏大</td>
            <td>{{ items.hca_data_item.data6.jg }}</td>
            <td>{{ items.hca_data_item.data6.zr_jg }}</td>
            <td>{{ items.hca_data_item.data6.zd }}</td>
            <td>阳煤平原</td>
            <td>{{ items.ns_data_item.data6.jg }}</td>

        </tr>
                {#合成氨价格7#}
        <tr class="text_center">
            <td>河南豫北化工</td>
            <td>{{ items.hca_data_item.data7.jg }}</td>
            <td>{{ items.hca_data_item.data7.zr_jg }}</td>
            <td>{{ items.hca_data_item.data7.zd }}</td>
            <td>山西兰花</td>
            <td>{{ items.ns_data_item.data7.jg }}</td>

        </tr>
                {#合成氨价格8#}
        <tr class="text_center">
            <td>河南中盈</td>
            <td>{{ items.hca_data_item.data8.jg }}</td>
            <td>{{ items.hca_data_item.data8.zr_jg }}</td>
            <td>{{ items.hca_data_item.data8.zd }}</td>
            <td>山西晋煤天源</td>
            <td>{{ items.ns_data_item.data8.jg }}</td>

        </tr>
        {#磷酸二铵#}
        <tr class="text_center">
            <td>磷酸二铵</td>
            <td>山东鲁北</td>
            <td>{{ items.ls2a_data_item.data1.jg }}</td>
            <td>{{ items.ls2a_data_item.data1.zr_jg }}</td>
            <td>{{ items.ls2a_data_item.data1.zd }}</td>
            <td rowspan="6">甲醇价格</td>
            <td>七台河吉伟</td>
            <td>{{ items.jc_data_item.data1.jg }}</td>

        </tr>
        {#磷酸一铵1#}
        <tr class="text_center">
            <td rowspan="3">磷酸一铵</td>
            <td>宁国司尔特</td>
            <td>{{ items.ls1a_data_item.data1.jg }}</td>
            <td>{{ items.ls1a_data_item.data1.zr_jg }}</td>
            <td>{{ items.ls1a_data_item.data1.zd }}</td>
            <td>山西光大焦化</td>
            <td>{{ items.jc_data_item.data2.jg }}</td>

        </tr>
        {#磷酸一铵2#}
        <tr class="text_center">
            <td>河南济源丰田</td>
            <td>{{ items.ls1a_data_item.data2.jg }}</td>
            <td>{{ items.ls1a_data_item.data2.zr_jg }}</td>
            <td>{{ items.ls1a_data_item.data2.zd }}</td>
            <td>山西兰花</td>
            <td>{{ items.jc_data_item.data3.jg }}</td>

        </tr>
        {#磷酸一铵3#}
        <tr class="text_center">
            <td>河南济源万洋</td>
            <td>{{ items.ls1a_data_item.data3.jg }}</td>
            <td>{{ items.ls1a_data_item.data3.zr_jg }}</td>
            <td>{{ items.ls1a_data_item.data3.zd }}</td>
            <td>鲁南化工</td>
            <td>{{ items.jc_data_item.data4.jg }}</td>

        </tr>
        {#动力煤1#}
        <tr class="text_center">
            <td rowspan="2">动力煤</td>
            <td>山西晋城Q5800</td>
            <td>{{ items.dlm_data_item.data1.jg }}</td>
            <td>{{ items.dlm_data_item.data1.zr_jg }}</td>
            <td>{{ items.dlm_data_item.data1.zd }}</td>
            <td>山东盛隆</td>
            <td>{{ items.jc_data_item.data5.jg }}</td>

        </tr>
        {#动力煤2#}
        <tr class="text_center">
            <td>秦皇岛Q5500</td>
            <td>{{ items.dlm_data_item.data2.jg }}</td>
            <td>{{ items.dlm_data_item.data2.zr_jg }}</td>
            <td>{{ items.dlm_data_item.data2.zd }}</td>
            <td>内蒙古新奥</td>
            <td>{{ items.jc_data_item.data6.jg }}</td>

        </tr>
        {#        image1#}
        <tr class="line_hight">
            <td colspan="4" class="font_color" >合成氨价格<span class="unit">(单位:元)</span></td>
            <td colspan="4" class="font_color" >MAP/DAP价格<span class="unit">(单位:元)</span></td>
        </tr>
        <tr >
            <td colspan="4"  class="right_border">
                <div style="width:487px;height:200px;">
                    <img src="{{ url_for('static',filename='images/niaoshu/hca.png',_t=val1) }}" width="100%" height="100%"   alt="">
                </div>
            </td>
            <td colspan="4" >
                <div style="width:487px;height:200px;">
                    <img src="{{ url_for('static',filename='images/niaoshu/map_dap.png',_t=val1) }}" width="100%" height="100%"   alt="">
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center;font-size: 11px;border-bottom: none">
                <b style="color: #FF00FF">—— 出厂价:合成氨:阳煤平原</b>
                <b style="color: #FA8072">—— 出厂价:合成氨:安徽安庆石化</b>
            </td>
            <td colspan="4" style="text-align: center;font-size: 12px;border-bottom:none">
                <b style="color: #CDCD00">—— 磷酸二铵:山东鲁北</b>
                <b style="color: #F4A460">—— 磷酸一铵:宁国司尔特</b>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center;font-size: 11px;border-top: none">
                <b style="color: #121212">—— 出厂价:合成氨:安徽昊源</b>
                <b style="color: #228B22">—— 出厂价:合成氨:安徽临泉</b>
                <b style="color: #8470FF">—— 出厂价:合成氨:河南中盈</b>
            </td>
            <td colspan="4" style="text-align: center;font-size: 12px;border-top: none">
                <b style="color: #71C671">—— 磷酸一铵:河南济源丰田</b>
                <b style="color: #CD2626">—— 磷酸一铵:河南济源万洋</b>
            </td>
        </tr>
        {#        image2#}
        <tr class="line_hight">
            <td colspan="4" class="font_color" >晋城产 山西Q5800动力煤价格<span class="unit">(单位:元)</span></td>
            <td colspan="4" class="font_color" >秦皇岛 山西Q5800动力煤价格<span class="unit">(单位:元)</span></td>
        </tr>
        <tr >
            <td colspan="4"  class="right_border">
                <div style="width:487px;height:200px;">
                    <img src="{{ url_for('static',filename='images/niaoshu/sxdlm.png',_t=val1) }}" width="100%" height="100%"   alt="">
                </div>
            </td>
            <td colspan="4" >
                <div style="width:487px;height:200px;">
                    <img src="{{ url_for('static',filename='images/niaoshu/qhddlm.png',_t=val1) }}" width="100%" height="100%"   alt="">
                </div>
            </td>
        </tr>
            <tr>
            <td colspan="4" style="text-align: center">
                <b style="color: red">—— 2019</b>
                <b style="color: #4169E1">—— 2018</b>
                <b style="color: #8B4513">—— 2017</b>
                <b style="color: #5F9EA0">—— 2016</b>
                <b style="color: #FF7F50">—— 2015</b>
            </td>
            <td colspan="4" style="text-align: center">
                <b style="color: red">—— 2019</b>
                <b style="color: #4169E1">—— 2018</b>
                <b style="color: #8B4513">—— 2017</b>
                <b style="color: #5F9EA0">—— 2016</b>
                <b style="color: #FF7F50">—— 2015</b>
            </td>
        </tr>
        {#        image3#}
        <tr class="line_hight">
            <td colspan="4" class="font_color" >尿素库存--烟台港<span class="unit">(单位:万吨)</span></td>
            <td colspan="4" class="font_color" >国内尿素产量<span class="unit">(单位:吨)</span></td>
        </tr>
        <tr >
            <td colspan="4"  class="right_border">
                <div style="width:487px;height:200px;">
                    <img src="{{ url_for('static',filename='images/niaoshu/nskc.png',_t=val1) }}" width="100%" height="100%"   alt="">
                </div>
            </td>
            <td colspan="4" >
                <div style="width:487px;height:200px;">
                    <img src="{{ url_for('static',filename='images/niaoshu/nscl.png',_t=val1) }}" width="100%" height="100%"   alt="">
                </div>
            </td>
        </tr>
            <tr>
            <td colspan="4" style="text-align: center">
                <b style="color: red">—— 2019</b>
                <b style="color: #4169E1">—— 2018</b>
                <b style="color: #8B4513">—— 2017</b>
                <b style="color: #5F9EA0">—— 2016</b>
                <b style="color: #FF7F50">—— 2015</b>
            </td>
            <td colspan="4" style="text-align: center">
                <b style="color: red">—— 2019</b>
                <b style="color: #4169E1">—— 2018</b>
                <b style="color: #8B4513">—— 2017</b>
                <b style="color: #5F9EA0">—— 2016</b>
                <b style="color: #FF7F50">—— 2015</b>
            </td>
        </tr>
        <tr class="line_hight">
            <td colspan="8"></td>
        </tr>
        <!--表尾-->
        <tr>
            <td colspan="1" class="font_color">免责声明</td>
            <td colspan="7" class="content_left">本报告中的信息均来源于公开资料，我公司对这些信息的准确性和完整性不作任何保证。报告中的内容和意见仅供参考，并不构成对所述品种买卖的出价或征价。我公司及其雇员对使用本报告及其内容所引发的任何直接或间接损失概不负责。本报告仅向特定客户传送，版权归冠通期货所有。未经我公司书面许可，任何机构和个人均不得以任何形式翻版、复制、引用或转载。</td>
        </tr>
    </table>
</div>

{% endblock %}